![image.png]()

# Gestión de Datos - Taller 2
- Juan Sebastián Vargas Torres

# Contexto

 - Para el desarrollo del ETL se va usar la colección ***sales*** de la base de datos ***sample_supplies***

La base de datos contiene datos de una empresa de suministros de oficina simulada. La empresa realiza un seguimiento de la información de los clientes y los datos de ventas, y tiene varias tiendas en todo el mundo.


Cada documento representa una sola venta de una tienda administrada por la empresa de suministro. Cada documento contiene los artículos comprados, información sobre el cliente que realizó la compra y varios otros detalles relacionados con la venta.

**Para cada venta se tienen los siguientes atributos**

Atributo  |Tipo
-------------------|-------------------
_id       | Texto  
salesDate       | Fecha  
items       | Array
storeLocation       | Texto
customer       | Object
couponUsed | Boolean
purchaseMethod | Texto

**Cada Item tiene los siguientes atributos**

Atributo  |Tipo
-------------------|-------------------
name       | Texto  
tags       | Array  
price       | Numérico decimal
quantity       | Numérico entero

**Cada Customer tiene los siguientes atributos**

Atributo  |Tipo
-------------------|-------------------
gender       | Texto  
age       | Numérico entero  
email       | Texto
satisfaction       | Numérico entero

# Instalaciones necesarias

In [1]:
pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.2.0)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 4.0 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [2]:
!pip install --upgrade google-cloud-bigquery

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: google-cloud-bigquery in /usr/local/lib/python3.7/dist-packages (1.21.0)
Collecting google-cloud-bigquery
  Downloading google_cloud_bigquery-3.3.2-py2.py3-none-any.whl (211 kB)
     |████████████████████████████████| 211 kB 4.0 MB/s
Requirement already satisfied: grpcio<2.0dev,>=1.47.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery) (1.48.1)
Requirement already satisfied: google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery) (1.31.6)
Collecting protobuf<5.0.0dev,>=3.19.0
  Downloading protobuf-4.21.6-cp37-abi3-manylinux2014_x86_64.whl (408 kB)
     |████████████████████████████████| 408 kB 56.1 MB/s
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery) (2.23.0)
Collecting google-cloud-core<3.0.0dev,>=1.4.1
  Downloading google_cloud_core-2.3.2-py2.py3-none-any.whl (29 kB)
Collecting google-resumable-media<3.0dev,>=0.6.0
  Downloading google_resumable_media-2.3.3-py2.py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 5.4 MB/s
Requirement already satisfied: pyarrow<10.0dev,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery) (6.0.1)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery) (2.8.2)
Requirement already satisfied: packaging<22.0.0dev,>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-cloud-bigquery) (21.3)
Collecting google-cloud-bigquery-storage<3.0.0dev,>=2.0.0
  Downloading google_cloud_bigquery_storage-2.16.0-py2.py3-none-any.whl (185 kB)
     |████████████████████████████████| 185 kB 45.5 MB/s
Collecting proto-plus<2.0.0dev,>=1.22.0
  Downloading proto_plus-1.22.1-py3-none-any.whl (47 kB)
     |████████████████████████████████| 47 kB 3.3 MB/s
Requirement already satisfied: six>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.15.0)
Collecting protobuf<5.0.0dev,>=3.19.0
  Downloading protobuf-3.20.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 37.7 MB/s
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (57.4.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.56.4)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (2022.2.1)
Requirement already satisfied: google-auth<2.0dev,>=1.25.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (1.35.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<2.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (4.9)
Collecting google-cloud-bigquery-storage<3.0.0dev,>=2.0.0
  Downloading google_cloud_bigquery_storage-2.15.0-py2.py3-none-any.whl (182 kB)
     |████████████████████████████████| 182 kB 46.0 MB/s
  Downloading google_cloud_bigquery_storage-2.14.2-py2.py3-none-any.whl (182 kB)
     |████████████████████████████████| 182 kB 21.0 MB/s
  Downloading google_cloud_bigquery_storage-2.14.1-py2.py3-none-any.whl (181 kB)
     |████████████████████████████████| 181 kB 45.9 MB/s
  Downloading google_cloud_bigquery_storage-2.14.0-py2.py3-none-any.whl (181 kB)
     |████████████████████████████████| 181 kB 45.6 MB/s
  Downloading google_cloud_bigquery_storage-2.13.2-py2.py3-none-any.whl (180 kB)
     |████████████████████████████████| 180 kB 6.7 MB/s
Collecting google-crc32c<2.0dev,>=1.0
  Downloading google_crc32c-1.5.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (32 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging<22.0.0dev,>=14.3->google-cloud-bigquery) (3.0.9)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow<10.0dev,>=3.0.0->google-cloud-bigquery) (1.21.6)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2.0dev,>=1.25.0->google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-bigquery) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery) (1.24.3)
Installing collected packages: protobuf, proto-plus, google-crc32c, google-resumable-media, google-cloud-core, google-cloud-bigquery-storage, google-cloud-bigquery
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.17.3
    Uninstalling protobuf-3.17.3:
      Successfully uninstalled protobuf-3.17.3
  Attempting uninstall: google-resumable-media
    Found existing installation: google-resumable-media 0.4.1
    Uninstalling google-resumable-media-0.4.1:
      Successfully uninstalled google-resumable-media-0.4.1
  Attempting uninstall: google-cloud-core
    Found existing installation: google-cloud-core 1.0.3
    Uninstalling google-cloud-core-1.0.3:
      Successfully uninstalled google-cloud-core-1.0.3
  Attempting uninstall: google-cloud-bigquery-storage
    Found existing installation: google-cloud-bigquery-storage 1.1.2
    Uninstalling google-cloud-bigquery-storage-1.1.2:
      Successfully uninstalled google-cloud-bigquery-storage-1.1.2
  Attempting uninstall: google-cloud-bigquery
    Found existing installation: google-cloud-bigquery 1.21.0
    Uninstalling google-cloud-bigquery-1.21.0:
      Successfully uninstalled google-cloud-bigquery-1.21.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.2+zzzcolab20220719082949 requires protobuf<3.20,>=3.9.2, but you have protobuf 3.20.2 which is incompatible.
pandas-gbq 0.13.3 requires google-cloud-bigquery[bqstorage,pandas]<2.0.0dev,>=1.11.1, but you have google-cloud-bigquery 3.3.2 which is incompatible.
google-cloud-translate 1.5.0 requires google-cloud-core<2.0dev,>=1.0.0, but you have google-cloud-core 2.3.2 which is incompatible.
google-cloud-storage 1.18.1 requires google-cloud-core<2.0dev,>=1.0.0, but you have google-cloud-core 2.3.2 which is incompatible.
google-cloud-storage 1.18.1 requires google-resumable-media<0.5.0dev,>=0.3.1, but you have google-resumable-media 2.3.3 which is incompatible.
google-cloud-firestore 1.7.0 requires google-cloud-core<2.0dev,>=1.0.3, but you have google-cloud-core 2.3.2 which is incompatible.
google-cloud-datastore 1.8.0 requires google-cloud-core<2.0dev,>=1.0.0, but you have google-cloud-core 2.3.2 which is incompatible.
Successfully installed google-cloud-bigquery-3.3.2 google-cloud-bigquery-storage-2.13.2 google-cloud-core-2.3.2 google-crc32c-1.5.0 google-resumable-media-2.3.3 proto-plus-1.22.1 protobuf-3.20.2

# Imports necesarios

In [3]:
import pymongo
import pandas as pd
from ast import literal_eval
from google.cloud import bigquery
from google.oauth2 import service_account

# Inits

In [4]:
DB_NAME = "sample_supplies"
COLLECTION = "sales"

In [5]:
url="mongodb+srv://sebas102507:JuanSebastian1007698596@cluster0.apegsoy.mongodb.net/test"
client = pymongo.MongoClient(url, server_api = pymongo.server_api.ServerApi('1'))

In [6]:
db = client[DB_NAME]

# Preguntas

## Q1) Cómo ha sido el comportamiento de las ventas a lo largo de los meses y años para cuando se ha hecho las ventas en las tiendas, online y por el celular

### Ventas en las tiendas

In [7]:
p1_in_store = db[COLLECTION].aggregate(
    [
        {'$match':{"purchaseMethod":"In store"}},        
        #{"$limit":1},
        {"$unwind":"$items"},
        {"$unwind":"$items.tags"},
     ])
p1_in_store

In [8]:
df_in_store= pd.io.json.json_normalize(list(p1_in_store))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [9]:
df_in_store.shape

(48233, 13)

In [10]:
df_in_store.head(5)

,_id,saleDate,storeLocation,couponUsed,purchaseMethod,items.name,items.tags,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction
0,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,In store,notepad,office,30.08,1,M,51,worbiduh@vowbu.cg,5
1,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,In store,notepad,writing,30.08,1,M,51,worbiduh@vowbu.cg,5
2,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,In store,notepad,school,30.08,1,M,51,worbiduh@vowbu.cg,5
3,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,In store,binder,school,24.68,7,M,51,worbiduh@vowbu.cg,5
4,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,In store,binder,general,24.68,7,M,51,worbiduh@vowbu.cg,5

In [11]:
df_in_store.dtypes

_id                              object
saleDate                 datetime64[ns]
storeLocation                    object
couponUsed                         bool
purchaseMethod                   object
items.name                       object
items.tags                       object
items.price                      object
items.quantity                    int64
customer.gender                  object
customer.age                      int64
customer.email                   object
customer.satisfaction             int64
dtype: object

In [12]:
df_in_store["items.price"]=df_in_store["items.price"].astype(str).astype(float)

In [13]:
df_in_store.drop(columns=["purchaseMethod"],inplace=True)

In [14]:
df_in_store=pd.get_dummies(df_in_store,columns=["items.tags"])

In [15]:
groupColumns= df_in_store.columns[:11]
groupColumns=list(groupColumns)

In [16]:
groupColumns

['_id',
 'saleDate',
 'storeLocation',
 'couponUsed',
 'items.name',
 'items.price',
 'items.quantity',
 'customer.gender',
 'customer.age',
 'customer.email',
 'customer.satisfaction']

In [17]:
df_in_store=df_in_store.groupby(groupColumns).sum().reset_index()

In [18]:
df_in_store.head(10)

,_id,saleDate,storeLocation,couponUsed,items.name,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction,items.tags_electronics,items.tags_general,items.tags_kids,items.tags_office,items.tags_organization,items.tags_school,items.tags_stationary,items.tags_travel,items.tags_writing
0,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,backpack,106.60,2,M,51,worbiduh@vowbu.cg,5,0,0,1,0,0,1,0,1,0
1,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,binder,24.68,7,M,51,worbiduh@vowbu.cg,5,0,1,0,0,1,1,0,0,0
2,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,laptop,596.33,4,M,51,worbiduh@vowbu.cg,5,1,0,0,1,0,1,0,0,0
3,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,notepad,8.57,4,M,51,worbiduh@vowbu.cg,5,0,0,0,1,0,1,0,0,1
4,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,notepad,30.08,1,M,51,worbiduh@vowbu.cg,5,0,0,0,1,0,1,0,0,1
5,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,notepad,32.10,4,M,51,worbiduh@vowbu.cg,5,0,0,0,1,0,1,0,0,1
6,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,pens,31.41,3,M,51,worbiduh@vowbu.cg,5,0,0,0,1,0,1,1,0,1
7,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,pens,68.95,4,M,51,worbiduh@vowbu.cg,5,0,0,0,1,0,1,1,0,1
8,5bd761dcae323e45a93ccfea,2017-06-22 09:54:14.185,Denver,False,printer paper,43.56,3,M,51,worbiduh@vowbu.cg,5,0,0,0,1,0,0,1,0,0
9,5bd761dcae323e45a93ccfeb,2015-02-23 09:53:59.343,Seattle,False,backpack,82.73,2,F,45,vatires@ta.pe,3,0,0,1,0,0,1,0,1,0

In [19]:
df_in_store=df_in_store[["saleDate","items.price","items.quantity"]]

In [20]:
df_in_store["total"]=df_in_store["items.price"]*df_in_store["items.quantity"]
df_in_store["year"]=df_in_store["saleDate"].dt.year
df_in_store["month"]=df_in_store["saleDate"].dt.month
df_in_store.drop(columns=["saleDate","items.price","items.quantity"],inplace=True)
df_in_store=df_in_store.groupby(by=["year","month"]).sum().reset_index()
df_in_store.sort_values(by=["year","month"],inplace=True)
df_in_store["date"]= df_in_store["year"].astype(str)+"/"+df_in_store["month"].astype(str)
df_in_store=df_in_store[["year","month","date","total"]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [21]:
df_in_store=df_in_store[["date","total"]]

In [22]:
df_in_store

       date      total
0    2013/1  135110.18
1    2013/2   97950.33
2    2013/3   72700.81
3    2013/4   86221.49
4    2013/5   89225.57
5    2013/6   87575.90
6    2013/7   90272.55
7    2013/8   56522.30
8    2013/9   78133.16
9   2013/10   97098.80
10  2013/11  106469.99
11  2013/12  102949.84
12   2014/1   63071.57
13   2014/2   84577.27
14   2014/3  115414.47
15   2014/4   59407.93
16   2014/5  100508.50
17   2014/6   78171.54
18   2014/7  101248.03
19   2014/8   91423.49
20   2014/9   90044.15
21  2014/10   66491.36
22  2014/11   99091.11
23  2014/12  102714.96
24   2015/1  127025.79
25   2015/2  107371.54
26   2015/3   74852.85
27   2015/4   68822.15
28   2015/5  101143.90
29   2015/6   95393.20
30   2015/7  105020.96
31   2015/8   68228.58
32   2015/9   82869.46
33  2015/10   98335.69
34  2015/11  112161.64
35  2015/12  104336.16
36   2016/1   84215.77
37   2016/2   62383.22
38   2016/3   99464.63
39   2016/4   86155.55
40   2016/5   91507.46
41   2016/6   94548.49
42   2016/7   92866.73
43   2016/8  105226.33
44   2016/9   71392.25
45  2016/10   82241.52
46  2016/11  104917.48
47  2016/12  116287.18
48   2017/1   95790.12
49   2017/2   89136.28
50   2017/3  105770.85
51   2017/4  102756.16
52   2017/5  118475.75
53   2017/6  130048.08
54   2017/7  105217.34
55   2017/8   84917.33
56   2017/9   88532.85
57  2017/10   99442.14
58  2017/11  124389.46
59  2017/12   85498.48

### Ventas Online

In [23]:
p1_online = db[COLLECTION].aggregate(
    [
        {'$match':{"purchaseMethod":"Online"}},        
        #{"$limit":1},
        {"$unwind":"$items"},
        {"$unwind":"$items.tags"},
     ])
p1_online

In [24]:
p1_online= pd.io.json.json_normalize(list(p1_online))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [25]:
p1_online.shape

(26499, 13)

In [26]:
p1_online.head(5)

,_id,saleDate,storeLocation,couponUsed,purchaseMethod,items.name,items.tags,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,office,40.01,2,M,42,cauho@witwuta.sv,4
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,stationary,40.01,2,M,42,cauho@witwuta.sv,4
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,office,35.29,2,M,42,cauho@witwuta.sv,4
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,writing,35.29,2,M,42,cauho@witwuta.sv,4
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,school,35.29,2,M,42,cauho@witwuta.sv,4

In [27]:
p1_online.dtypes

_id                              object
saleDate                 datetime64[ns]
storeLocation                    object
couponUsed                         bool
purchaseMethod                   object
items.name                       object
items.tags                       object
items.price                      object
items.quantity                    int64
customer.gender                  object
customer.age                      int64
customer.email                   object
customer.satisfaction             int64
dtype: object

In [28]:
p1_online["items.price"]=p1_online["items.price"].astype(str).astype(float)

In [29]:
p1_online.drop(columns=["purchaseMethod"],inplace=True)

In [30]:
p1_online=pd.get_dummies(p1_online,columns=["items.tags"])

In [31]:
groupColumns= p1_online.columns[:11]
groupColumns=list(groupColumns)

In [32]:
groupColumns

['_id',
 'saleDate',
 'storeLocation',
 'couponUsed',
 'items.name',
 'items.price',
 'items.quantity',
 'customer.gender',
 'customer.age',
 'customer.email',
 'customer.satisfaction']

In [33]:
p1_online=p1_online.groupby(groupColumns).sum().reset_index()

In [34]:
p1_online.head(10)

,_id,saleDate,storeLocation,couponUsed,items.name,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction,items.tags_electronics,items.tags_general,items.tags_kids,items.tags_office,items.tags_organization,items.tags_school,items.tags_stationary,items.tags_travel,items.tags_writing
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,backpack,77.71,2,M,42,cauho@witwuta.sv,4,0,0,1,0,0,1,0,1,0
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,binder,14.16,3,M,42,cauho@witwuta.sv,4,0,1,0,0,1,1,0,0,0
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,8.08,3,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,19.95,8,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,18.47,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
5,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,35.29,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
6,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,pens,56.12,5,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,1,0,1
7,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,printer paper,40.01,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,0,1,0,0
8,5bd761dcae323e45a93ccfef,2014-03-31 16:02:06.624,Austin,False,backpack,87.13,2,M,71,man@bob.mz,3,0,0,1,0,0,1,0,1,0
9,5bd761dcae323e45a93ccfef,2014-03-31 16:02:06.624,Austin,False,binder,21.22,10,M,71,man@bob.mz,3,0,1,0,0,1,1,0,0,0

In [35]:
p1_online=p1_online[["saleDate","items.price","items.quantity"]]

In [36]:
p1_online["total"]=p1_online["items.price"]*p1_online["items.quantity"]
p1_online["year"]=p1_online["saleDate"].dt.year
p1_online["month"]=p1_online["saleDate"].dt.month
p1_online.drop(columns=["saleDate","items.price","items.quantity"],inplace=True)
p1_online=p1_online.groupby(by=["year","month"]).sum().reset_index()
p1_online.sort_values(by=["year","month"],inplace=True)
p1_online["date"]= p1_online["year"].astype(str)+"/"+p1_online["month"].astype(str)
p1_online=p1_online[["year","month","date","total"]]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [37]:
p1_online.head(10)

   year  month     date     total
0  2013      1   2013/1  48712.59
1  2013      2   2013/2  32770.53
2  2013      3   2013/3  64575.90
3  2013      4   2013/4  55415.77
4  2013      5   2013/5  58109.77
5  2013      6   2013/6  35516.94
6  2013      7   2013/7  69656.14
7  2013      8   2013/8  56507.05
8  2013      9   2013/9  37513.70
9  2013     10  2013/10  53051.79

### Ventas Online

In [38]:
p1_Phone = db[COLLECTION].aggregate(
    [
        {'$match':{"purchaseMethod":"Phone"}},        
        #{"$limit":1},
        {"$unwind":"$items"},
        {"$unwind":"$items.tags"},
     ])
p1_Phone

In [39]:
p1_Phone= pd.io.json.json_normalize(list(p1_Phone))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [40]:
p1_Phone.shape

(9895, 13)

In [41]:
p1_Phone.head(5)

,_id,saleDate,storeLocation,couponUsed,purchaseMethod,items.name,items.tags,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction
0,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,Phone,envelopes,stationary,8.05,10,M,50,keecade@hem.uy,5
1,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,Phone,envelopes,office,8.05,10,M,50,keecade@hem.uy,5
2,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,Phone,envelopes,general,8.05,10,M,50,keecade@hem.uy,5
3,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,Phone,binder,school,28.31,9,M,50,keecade@hem.uy,5
4,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,Phone,binder,general,28.31,9,M,50,keecade@hem.uy,5

In [42]:
p1_Phone.dtypes

_id                              object
saleDate                 datetime64[ns]
storeLocation                    object
couponUsed                         bool
purchaseMethod                   object
items.name                       object
items.tags                       object
items.price                      object
items.quantity                    int64
customer.gender                  object
customer.age                      int64
customer.email                   object
customer.satisfaction             int64
dtype: object

In [43]:
p1_Phone["items.price"]=p1_Phone["items.price"].astype(str).astype(float)

In [44]:
p1_Phone.drop(columns=["purchaseMethod"],inplace=True)

In [45]:
p1_Phone=pd.get_dummies(p1_Phone,columns=["items.tags"])

In [46]:
groupColumns= p1_Phone.columns[:11]
groupColumns=list(groupColumns)

In [47]:
groupColumns

['_id',
 'saleDate',
 'storeLocation',
 'couponUsed',
 'items.name',
 'items.price',
 'items.quantity',
 'customer.gender',
 'customer.age',
 'customer.email',
 'customer.satisfaction']

In [48]:
p1_Phone=p1_Phone.groupby(groupColumns).sum().reset_index()

In [49]:
p1_Phone.head(10)

,_id,saleDate,storeLocation,couponUsed,items.name,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction,items.tags_electronics,items.tags_general,items.tags_kids,items.tags_office,items.tags_organization,items.tags_school,items.tags_stationary,items.tags_travel,items.tags_writing
0,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,backpack,83.28,2,M,50,keecade@hem.uy,5,0,0,1,0,0,1,0,1,0
1,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,binder,28.31,9,M,50,keecade@hem.uy,5,0,1,0,0,1,1,0,0,0
2,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,envelopes,8.05,10,M,50,keecade@hem.uy,5,0,1,0,1,0,0,1,0,0
3,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,envelopes,16.68,2,M,50,keecade@hem.uy,5,0,1,0,1,0,0,1,0,0
4,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,laptop,866.50,4,M,50,keecade@hem.uy,5,1,0,0,1,0,1,0,0,0
5,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,notepad,20.95,3,M,50,keecade@hem.uy,5,0,0,0,1,0,1,0,0,1
6,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,notepad,33.09,4,M,50,keecade@hem.uy,5,0,0,0,1,0,1,0,0,1
7,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,pens,42.90,4,M,50,keecade@hem.uy,5,0,0,0,1,0,1,1,0,1
8,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,printer paper,37.55,1,M,50,keecade@hem.uy,5,0,0,0,1,0,0,1,0,0
9,5bd761dcae323e45a93ccff2,2015-07-25 07:20:29.804,Seattle,False,backpack,61.11,5,F,34,keigutip@vaw.tc,4,0,0,1,0,0,1,0,1,0

In [50]:
p1_Phone=p1_Phone[["saleDate","items.price","items.quantity"]]

In [51]:
p1_Phone["total"]=p1_Phone["items.price"]*p1_Phone["items.quantity"]
p1_Phone["year"]=p1_Phone["saleDate"].dt.year
p1_Phone["month"]=p1_Phone["saleDate"].dt.month
p1_Phone.drop(columns=["saleDate","items.price","items.quantity"],inplace=True)
p1_Phone=p1_Phone.groupby(by=["year","month"]).sum().reset_index()
p1_Phone.sort_values(by=["year","month"],inplace=True)
p1_Phone["date"]= p1_Phone["year"].astype(str)+"/"+p1_Phone["month"].astype(str)
p1_Phone=p1_Phone[["year","month","date","total"]]

In [52]:
p1_Phone.head(10)

   year  month     date     total
0  2013      1   2013/1  12220.99
1  2013      2   2013/2  16901.73
2  2013      3   2013/3   3423.35
3  2013      4   2013/4  20699.41
4  2013      5   2013/5  31808.03
5  2013      6   2013/6  19039.18
6  2013      7   2013/7  16369.54
7  2013      8   2013/8  17947.87
8  2013      9   2013/9  22225.13
9  2013     10  2013/10  22976.14

## Q2) Cuál es el top 3 de los items más vendidos

In [53]:
p2_top = db[COLLECTION].aggregate(
    [
        {"$unwind":"$items"},
        {"$unwind":"$items.tags"},
     ])
p2_top

In [54]:
p2_top= pd.io.json.json_normalize(list(p2_top))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [55]:
p2_top.shape

(84627, 13)

In [56]:
p2_top.head(5)

,_id,saleDate,storeLocation,couponUsed,purchaseMethod,items.name,items.tags,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,office,40.01,2,M,42,cauho@witwuta.sv,4
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,stationary,40.01,2,M,42,cauho@witwuta.sv,4
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,office,35.29,2,M,42,cauho@witwuta.sv,4
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,writing,35.29,2,M,42,cauho@witwuta.sv,4
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,school,35.29,2,M,42,cauho@witwuta.sv,4

In [57]:
p2_top.dtypes

_id                              object
saleDate                 datetime64[ns]
storeLocation                    object
couponUsed                         bool
purchaseMethod                   object
items.name                       object
items.tags                       object
items.price                      object
items.quantity                    int64
customer.gender                  object
customer.age                      int64
customer.email                   object
customer.satisfaction             int64
dtype: object

In [58]:
p2_top["items.price"]=p2_top["items.price"].astype(str).astype(float)

In [59]:
p2_top.drop(columns=["purchaseMethod"],inplace=True)

In [60]:
p2_top=pd.get_dummies(p2_top,columns=["items.tags"])

In [61]:
groupColumns= p2_top.columns[:11]
groupColumns=list(groupColumns)

In [62]:
groupColumns

['_id',
 'saleDate',
 'storeLocation',
 'couponUsed',
 'items.name',
 'items.price',
 'items.quantity',
 'customer.gender',
 'customer.age',
 'customer.email',
 'customer.satisfaction']

In [63]:
p2_top=p2_top.groupby(groupColumns).sum().reset_index()

In [64]:
p2_top.head(10)

,_id,saleDate,storeLocation,couponUsed,items.name,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction,items.tags_electronics,items.tags_general,items.tags_kids,items.tags_office,items.tags_organization,items.tags_school,items.tags_stationary,items.tags_travel,items.tags_writing
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,backpack,77.71,2,M,42,cauho@witwuta.sv,4,0,0,1,0,0,1,0,1,0
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,binder,14.16,3,M,42,cauho@witwuta.sv,4,0,1,0,0,1,1,0,0,0
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,8.08,3,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,19.95,8,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,18.47,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
5,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,35.29,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
6,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,pens,56.12,5,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,1,0,1
7,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,printer paper,40.01,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,0,1,0,0
8,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,backpack,83.28,2,M,50,keecade@hem.uy,5,0,0,1,0,0,1,0,1,0
9,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,binder,28.31,9,M,50,keecade@hem.uy,5,0,1,0,0,1,1,0,0,0

In [65]:
p2_top=p2_top[["items.name"]]
p2_top=p2_top.groupby(by="items.name").size().reset_index()
p2_top=p2_top.rename(columns={0: 'count'})
p2_top.sort_values(by="count",inplace=True,ascending=False)

In [66]:
p2_top.rename(columns={"items.name": "ItemName"},inplace=True)

In [67]:
p2_top

        ItemName  count
4        notepad   6872
1         binder   4676
5           pens   4559
2      envelopes   4505
0       backpack   2309
3         laptop   2271
6  printer paper   2246

## Q3) ¿Cuál fue el número de ventas totales y número de items vendidos por ubicación?

In [68]:
p2_region = db[COLLECTION].aggregate(
    [
        {"$unwind":"$items"},
        {"$unwind":"$items.tags"},
     ])
p2_region

In [69]:
p2_region= pd.io.json.json_normalize(list(p2_region))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [70]:
p2_region.shape

(84627, 13)

In [71]:
p2_region.head(5)

,_id,saleDate,storeLocation,couponUsed,purchaseMethod,items.name,items.tags,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,office,40.01,2,M,42,cauho@witwuta.sv,4
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,stationary,40.01,2,M,42,cauho@witwuta.sv,4
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,office,35.29,2,M,42,cauho@witwuta.sv,4
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,writing,35.29,2,M,42,cauho@witwuta.sv,4
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,school,35.29,2,M,42,cauho@witwuta.sv,4

In [72]:
p2_region.dtypes

_id                              object
saleDate                 datetime64[ns]
storeLocation                    object
couponUsed                         bool
purchaseMethod                   object
items.name                       object
items.tags                       object
items.price                      object
items.quantity                    int64
customer.gender                  object
customer.age                      int64
customer.email                   object
customer.satisfaction             int64
dtype: object

In [73]:
p2_region["items.price"]=p2_region["items.price"].astype(str).astype(float)

In [74]:
p2_region.drop(columns=["purchaseMethod"],inplace=True)

In [75]:
p2_region=pd.get_dummies(p2_region,columns=["items.tags"])

In [76]:
groupColumns= p2_region.columns[:11]
groupColumns=list(groupColumns)

In [77]:
groupColumns

['_id',
 'saleDate',
 'storeLocation',
 'couponUsed',
 'items.name',
 'items.price',
 'items.quantity',
 'customer.gender',
 'customer.age',
 'customer.email',
 'customer.satisfaction']

In [78]:
p2_region=p2_region.groupby(groupColumns).sum().reset_index()

In [79]:
p2_region.head(10)

,_id,saleDate,storeLocation,couponUsed,items.name,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction,items.tags_electronics,items.tags_general,items.tags_kids,items.tags_office,items.tags_organization,items.tags_school,items.tags_stationary,items.tags_travel,items.tags_writing
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,backpack,77.71,2,M,42,cauho@witwuta.sv,4,0,0,1,0,0,1,0,1,0
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,binder,14.16,3,M,42,cauho@witwuta.sv,4,0,1,0,0,1,1,0,0,0
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,8.08,3,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,19.95,8,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,18.47,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
5,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,35.29,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
6,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,pens,56.12,5,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,1,0,1
7,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,printer paper,40.01,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,0,1,0,0
8,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,backpack,83.28,2,M,50,keecade@hem.uy,5,0,0,1,0,0,1,0,1,0
9,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,binder,28.31,9,M,50,keecade@hem.uy,5,0,1,0,0,1,1,0,0,0

In [80]:
p2_region=p2_region[["storeLocation","items.price","items.quantity"]]
p2_region["total"]=p2_region["items.price"]*p2_region["items.quantity"]
p2_region=p2_region.rename(columns={"items.quantity": 'totalItemsSold'})
p2_region.drop(columns=["items.price"],inplace=True)
p2_region=p2_region.groupby(by="storeLocation").sum().reset_index()
p2_region.sort_values(by="total",ascending=False,inplace=True)

In [81]:
p2_region

  storeLocation  totalItemsSold       total
1        Denver           34155  2921009.92
5       Seattle           24853  2255947.69
2        London           17710  1583066.79
0        Austin           15351  1445603.11
3      New York           11258  1016059.59
4     San Diego            7540   672885.17

## Q4) ¿Existe alguna relación entre el uso de un cupón y el número de items comprados?

In [82]:
p2_coupon = db[COLLECTION].aggregate(
    [
        {"$unwind":"$items"},
        {"$unwind":"$items.tags"},
     ])
p2_coupon

In [83]:
p2_coupon= pd.io.json.json_normalize(list(p2_coupon))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [84]:
p2_coupon.shape

(84627, 13)

In [85]:
p2_coupon.head(5)

,_id,saleDate,storeLocation,couponUsed,purchaseMethod,items.name,items.tags,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,office,40.01,2,M,42,cauho@witwuta.sv,4
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,stationary,40.01,2,M,42,cauho@witwuta.sv,4
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,office,35.29,2,M,42,cauho@witwuta.sv,4
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,writing,35.29,2,M,42,cauho@witwuta.sv,4
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,school,35.29,2,M,42,cauho@witwuta.sv,4

In [86]:
p2_coupon.dtypes

_id                              object
saleDate                 datetime64[ns]
storeLocation                    object
couponUsed                         bool
purchaseMethod                   object
items.name                       object
items.tags                       object
items.price                      object
items.quantity                    int64
customer.gender                  object
customer.age                      int64
customer.email                   object
customer.satisfaction             int64
dtype: object

In [87]:
p2_coupon["items.price"]=p2_coupon["items.price"].astype(str).astype(float)

In [88]:
p2_coupon.drop(columns=["purchaseMethod"],inplace=True)

In [89]:
p2_coupon=pd.get_dummies(p2_coupon,columns=["items.tags"])

In [90]:
groupColumns= p2_coupon.columns[:11]
groupColumns=list(groupColumns)

In [91]:
groupColumns

['_id',
 'saleDate',
 'storeLocation',
 'couponUsed',
 'items.name',
 'items.price',
 'items.quantity',
 'customer.gender',
 'customer.age',
 'customer.email',
 'customer.satisfaction']

In [92]:
p2_coupon=p2_coupon.groupby(groupColumns).sum().reset_index()

In [93]:
p2_coupon.head(10)

,_id,saleDate,storeLocation,couponUsed,items.name,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction,items.tags_electronics,items.tags_general,items.tags_kids,items.tags_office,items.tags_organization,items.tags_school,items.tags_stationary,items.tags_travel,items.tags_writing
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,backpack,77.71,2,M,42,cauho@witwuta.sv,4,0,0,1,0,0,1,0,1,0
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,binder,14.16,3,M,42,cauho@witwuta.sv,4,0,1,0,0,1,1,0,0,0
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,8.08,3,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,19.95,8,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,18.47,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
5,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,35.29,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
6,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,pens,56.12,5,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,1,0,1
7,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,printer paper,40.01,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,0,1,0,0
8,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,backpack,83.28,2,M,50,keecade@hem.uy,5,0,0,1,0,0,1,0,1,0
9,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,binder,28.31,9,M,50,keecade@hem.uy,5,0,1,0,0,1,1,0,0,0

In [94]:
p2_coupon=p2_coupon[["couponUsed","items.quantity"]]
p2_coupon=p2_coupon.groupby(by="couponUsed").sum().reset_index()

In [95]:
p2_coupon.rename(columns={"items.quantity":"ItemQuantity"}, inplace=True)

In [96]:
p2_coupon

   couponUsed  ItemQuantity
0       False        100155
1        True         10712

## Q5) ¿Cuál es la edad media de los clintes por región?

In [97]:
p2_age_c = db[COLLECTION].aggregate(
    [
        {"$unwind":"$items"},
        {"$unwind":"$items.tags"},
     ])
p2_age_c

In [98]:
p2_age_c= pd.io.json.json_normalize(list(p2_age_c))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [99]:
p2_age_c.shape

(84627, 13)

In [100]:
p2_age_c.head(5)

,_id,saleDate,storeLocation,couponUsed,purchaseMethod,items.name,items.tags,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,office,40.01,2,M,42,cauho@witwuta.sv,4
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,stationary,40.01,2,M,42,cauho@witwuta.sv,4
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,office,35.29,2,M,42,cauho@witwuta.sv,4
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,writing,35.29,2,M,42,cauho@witwuta.sv,4
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,school,35.29,2,M,42,cauho@witwuta.sv,4

In [101]:
p2_age_c.dtypes

_id                              object
saleDate                 datetime64[ns]
storeLocation                    object
couponUsed                         bool
purchaseMethod                   object
items.name                       object
items.tags                       object
items.price                      object
items.quantity                    int64
customer.gender                  object
customer.age                      int64
customer.email                   object
customer.satisfaction             int64
dtype: object

In [102]:
p2_age_c["items.price"]=p2_age_c["items.price"].astype(str).astype(float)

In [103]:
p2_age_c.drop(columns=["purchaseMethod"],inplace=True)

In [104]:
p2_age_c=pd.get_dummies(p2_age_c,columns=["items.tags"])

In [105]:
groupColumns= p2_age_c.columns[:11]
groupColumns=list(groupColumns)

In [106]:
groupColumns

['_id',
 'saleDate',
 'storeLocation',
 'couponUsed',
 'items.name',
 'items.price',
 'items.quantity',
 'customer.gender',
 'customer.age',
 'customer.email',
 'customer.satisfaction']

In [107]:
p2_age_c=p2_age_c.groupby(groupColumns).sum().reset_index()

In [108]:
p2_age_c.head(10)

,_id,saleDate,storeLocation,couponUsed,items.name,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction,items.tags_electronics,items.tags_general,items.tags_kids,items.tags_office,items.tags_organization,items.tags_school,items.tags_stationary,items.tags_travel,items.tags_writing
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,backpack,77.71,2,M,42,cauho@witwuta.sv,4,0,0,1,0,0,1,0,1,0
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,binder,14.16,3,M,42,cauho@witwuta.sv,4,0,1,0,0,1,1,0,0,0
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,8.08,3,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,19.95,8,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,18.47,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
5,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,35.29,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
6,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,pens,56.12,5,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,1,0,1
7,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,printer paper,40.01,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,0,1,0,0
8,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,backpack,83.28,2,M,50,keecade@hem.uy,5,0,0,1,0,0,1,0,1,0
9,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,binder,28.31,9,M,50,keecade@hem.uy,5,0,1,0,0,1,1,0,0,0

In [109]:
p2_age_c=p2_age_c[["storeLocation","customer.age"]]
p2_age_c= p2_age_c.groupby(by=["storeLocation"]).mean().astype(int)
p2_age_c=p2_age_c.rename(columns={"customer.age": 'customerAgeAverage'})

In [110]:
p2_age_c

               customerAgeAverage
storeLocation
Austin                         45
Denver                         45
London                         44
New York                       43
San Diego                      44
Seattle                        43

## Q6) ¿Se logra obsevar algún pico de ventas en alguno de los doce meses del año?

In [111]:
p2_month = db[COLLECTION].aggregate(
    [
        {"$unwind":"$items"},
        {"$unwind":"$items.tags"},
     ])
p2_month

In [112]:
p2_month= pd.io.json.json_normalize(list(p2_month))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [113]:
p2_month.shape

(84627, 13)

In [114]:
p2_month.head(5)

,_id,saleDate,storeLocation,couponUsed,purchaseMethod,items.name,items.tags,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,office,40.01,2,M,42,cauho@witwuta.sv,4
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,printer paper,stationary,40.01,2,M,42,cauho@witwuta.sv,4
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,office,35.29,2,M,42,cauho@witwuta.sv,4
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,writing,35.29,2,M,42,cauho@witwuta.sv,4
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,Online,notepad,school,35.29,2,M,42,cauho@witwuta.sv,4

In [115]:
p2_month.dtypes

_id                              object
saleDate                 datetime64[ns]
storeLocation                    object
couponUsed                         bool
purchaseMethod                   object
items.name                       object
items.tags                       object
items.price                      object
items.quantity                    int64
customer.gender                  object
customer.age                      int64
customer.email                   object
customer.satisfaction             int64
dtype: object

In [116]:
p2_month["items.price"]=p2_month["items.price"].astype(str).astype(float)

In [117]:
p2_month.drop(columns=["purchaseMethod"],inplace=True)

In [118]:
p2_month=pd.get_dummies(p2_month,columns=["items.tags"])

In [119]:
groupColumns= p2_month.columns[:11]
groupColumns=list(groupColumns)

In [120]:
groupColumns

['_id',
 'saleDate',
 'storeLocation',
 'couponUsed',
 'items.name',
 'items.price',
 'items.quantity',
 'customer.gender',
 'customer.age',
 'customer.email',
 'customer.satisfaction']

In [121]:
p2_month=p2_month.groupby(groupColumns).sum().reset_index()

In [122]:
p2_month.head(10)

,_id,saleDate,storeLocation,couponUsed,items.name,items.price,items.quantity,customer.gender,customer.age,customer.email,customer.satisfaction,items.tags_electronics,items.tags_general,items.tags_kids,items.tags_office,items.tags_organization,items.tags_school,items.tags_stationary,items.tags_travel,items.tags_writing
0,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,backpack,77.71,2,M,42,cauho@witwuta.sv,4,0,0,1,0,0,1,0,1,0
1,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,binder,14.16,3,M,42,cauho@witwuta.sv,4,0,1,0,0,1,1,0,0,0
2,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,8.08,3,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
3,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,envelopes,19.95,8,M,42,cauho@witwuta.sv,4,0,1,0,1,0,0,1,0,0
4,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,18.47,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
5,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,notepad,35.29,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,0,0,1
6,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,pens,56.12,5,M,42,cauho@witwuta.sv,4,0,0,0,1,0,1,1,0,1
7,5bd761dcae323e45a93ccfe8,2015-03-23 21:06:49.506,Denver,True,printer paper,40.01,2,M,42,cauho@witwuta.sv,4,0,0,0,1,0,0,1,0,0
8,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,backpack,83.28,2,M,50,keecade@hem.uy,5,0,0,1,0,0,1,0,1,0
9,5bd761dcae323e45a93ccfe9,2015-08-25 10:01:02.918,Seattle,False,binder,28.31,9,M,50,keecade@hem.uy,5,0,1,0,0,1,1,0,0,0

In [123]:
p2_month=p2_month[["saleDate"]]
p2_month["month"]=p2_month["saleDate"].dt.month
p2_month.drop(columns=["saleDate"],inplace=True)
p2_month=p2_month.groupby(by="month").size().reset_index()
p2_month=p2_month.rename(columns={0: 'TotalSales'})
p2_month.sort_values(by=["month"],inplace=True)

In [124]:
p2_month

    month  TotalSales
0       1        2337
1       2        2038
2       3        2339
3       4        2144
4       5        2382
5       6        2247
6       7        2325
7       8        2324
8       9        2087
9      10        2451
10     11        2376
11     12        2388

# Subiendo datos a BigQuery

## Init Credenciales

In [136]:
credentials = service_account.Credentials.from_service_account_file("/content/javeriana-dataprep.json", scopes = ["https://www.googleapis.com/auth/cloud-platform"])

In [137]:
client = bigquery.Client(credentials = credentials, project = credentials.project_id)

In [139]:
dataset_id = "{}.datosJSVT".format(client.project)

In [140]:
dataset = bigquery.Dataset(dataset_id)
dataset.location = "US"

In [141]:
dataset = client.create_dataset(dataset, timeout=30)  # Make an API request.
print("Created dataset {}.{}".format(client.project, dataset.dataset_id))

Created dataset javeriana-dataprep.datosJSVT

## Q1

In [142]:
df_in_store.head(5)

     date      total
0  2013/1  135110.18
1  2013/2   97950.33
2  2013/3   72700.81
3  2013/4   86221.49
4  2013/5   89225.57

In [143]:
# Q1 JOB CONFIG

job_config1 = bigquery.LoadJobConfig(
    schema = [
        bigquery.SchemaField("date", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("total", bigquery.enums.SqlTypeNames.FLOAT64)
    ],
    write_disposition = "WRITE_TRUNCATE",
)

In [144]:
BQ_TABLE_NAME_1 = "datosJSVT.ventas_totalxannoxmes_JSVT"

In [145]:
# ENVIANDO JOB 1 A BIG_QUERY
job = client.load_table_from_dataframe(
    df_in_store, BQ_TABLE_NAME_1, job_config = job_config1
)
job.result()

LoadJob<project=javeriana-dataprep, location=US, id=da0738c7-504a-41b2-bfac-346634baf724>

In [146]:
# VERIFICAR SI TABLA SE CREÓ
table = client.get_table(BQ_TABLE_NAME_1)
print("Loaded {} rows and {} columns to {}".format(table.num_rows, len(table.schema), BQ_TABLE_NAME_1))

Loaded 60 rows and 2 columns to datosJSVT.ventas_totalxannoxmes_JSVT

## Q2

In [147]:
p2_top

        ItemName  count
4        notepad   6872
1         binder   4676
5           pens   4559
2      envelopes   4505
0       backpack   2309
3         laptop   2271
6  printer paper   2246

In [148]:
# Q2 JOB CONFIG

job_config2 = bigquery.LoadJobConfig(
    schema = [
        bigquery.SchemaField("ItemName", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("count", bigquery.enums.SqlTypeNames.INT64)
    ],
    write_disposition = "WRITE_TRUNCATE",
)

In [149]:
BQ_TABLE_NAME_2 = "datosJSVT.ventas_totalxitem_JSVT"

In [150]:
# ENVIANDO JOB 2 A BIG_QUERY
job = client.load_table_from_dataframe(
    p2_top, BQ_TABLE_NAME_2, job_config = job_config2
)
job.result()

LoadJob<project=javeriana-dataprep, location=US, id=a8829c00-403b-4dfe-99bd-e3ce2848fca3>

In [151]:
# VERIFICAR SI TABLA SE CREÓ
table = client.get_table(BQ_TABLE_NAME_2)
print("Loaded {} rows and {} columns to {}".format(table.num_rows, len(table.schema), BQ_TABLE_NAME_2))

Loaded 7 rows and 2 columns to datosJSVT.ventas_totalxitem_JSVT

## Q3

In [152]:
p2_region.head(5)

  storeLocation  totalItemsSold       total
1        Denver           34155  2921009.92
5       Seattle           24853  2255947.69
2        London           17710  1583066.79
0        Austin           15351  1445603.11
3      New York           11258  1016059.59

In [153]:
# Q3 JOB CONFIG

job_config3 = bigquery.LoadJobConfig(
    schema = [
        bigquery.SchemaField("storeLocation", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("totalItemsSold", bigquery.enums.SqlTypeNames.INT64),
        bigquery.SchemaField("total", bigquery.enums.SqlTypeNames.FLOAT64),
    ],
    write_disposition = "WRITE_TRUNCATE",
)

In [154]:
BQ_TABLE_NAME_3 = "datosJSVT.ventas_totalxregion_JSVT"

In [155]:
# ENVIANDO JOB 4 A BIG_QUERY
job = client.load_table_from_dataframe(
    p2_region, BQ_TABLE_NAME_3, job_config = job_config3
)
job.result()

LoadJob<project=javeriana-dataprep, location=US, id=2db3012a-9505-4964-b89b-79740cdc8c5d>

In [156]:
# VERIFICAR SI TABLA SE CREÓ
table = client.get_table(BQ_TABLE_NAME_3)
print("Loaded {} rows and {} columns to {}".format(table.num_rows, len(table.schema), BQ_TABLE_NAME_3))

Loaded 6 rows and 3 columns to datosJSVT.ventas_totalxregion_JSVT

## Q4

In [157]:
p2_coupon.head(5)

   couponUsed  ItemQuantity
0       False        100155
1        True         10712

In [158]:
# Q4 JOB CONFIG

job_config4 = bigquery.LoadJobConfig(
    schema = [
        bigquery.SchemaField("couponUsed", bigquery.enums.SqlTypeNames.BOOL),
        bigquery.SchemaField("ItemQuantity", bigquery.enums.SqlTypeNames.INT64),
    ],
    write_disposition = "WRITE_TRUNCATE",
)

In [159]:
BQ_TABLE_NAME_4 = "datosJSVT.ventas_totalxUsoCupon_JSVT"

In [160]:
# ENVIANDO JOB 4 A BIG_QUERY
job = client.load_table_from_dataframe(
    p2_coupon, BQ_TABLE_NAME_4, job_config = job_config4
)
job.result()

LoadJob<project=javeriana-dataprep, location=US, id=a3805570-2aff-4db9-afcd-9f16c5c6e6af>

In [161]:
# VERIFICAR SI TABLA SE CREÓ
table = client.get_table(BQ_TABLE_NAME_4)
print("Loaded {} rows and {} columns to {}".format(table.num_rows, len(table.schema), BQ_TABLE_NAME_4))

Loaded 2 rows and 2 columns to datosJSVT.ventas_totalxUsoCupon_JSVT

## Q5

In [162]:
p2_age_c.head(5)

               customerAgeAverage
storeLocation
Austin                         45
Denver                         45
London                         44
New York                       43
San Diego                      44

In [163]:
# Q5 JOB CONFIG
job_config5 = bigquery.LoadJobConfig(
    schema = [
        bigquery.SchemaField("storeLocation", bigquery.enums.SqlTypeNames.STRING),
        bigquery.SchemaField("customerAgeAverage", bigquery.enums.SqlTypeNames.INT64),
    ],
    write_disposition = "WRITE_TRUNCATE",
)

In [164]:
BQ_TABLE_NAME_5 = "datosJSVT.edadMediaxRegion_JSVT"

In [165]:
# ENVIANDO JOB 5 A BIG_QUERY
job = client.load_table_from_dataframe(
    p2_age_c, BQ_TABLE_NAME_5, job_config = job_config5
)
job.result()

LoadJob<project=javeriana-dataprep, location=US, id=84bdf3de-9b59-4718-aa60-a3c48bfa02c8>

In [166]:
# VERIFICAR SI TABLA SE CREÓ
table = client.get_table(BQ_TABLE_NAME_5)
print("Loaded {} rows and {} columns to {}".format(table.num_rows, len(table.schema), BQ_TABLE_NAME_5))

Loaded 6 rows and 2 columns to datosJSVT.edadMediaxRegion_JSVT

## Q6

In [167]:
p2_month.head(5)

   month  TotalSales
0      1        2337
1      2        2038
2      3        2339
3      4        2144
4      5        2382

In [168]:
# Q6 JOB CONFIG
job_config6 = bigquery.LoadJobConfig(
    schema = [
        bigquery.SchemaField("month", bigquery.enums.SqlTypeNames.INT64),
        bigquery.SchemaField("TotalSales", bigquery.enums.SqlTypeNames.INT64),
    ],
    write_disposition = "WRITE_TRUNCATE",
)

In [169]:
BQ_TABLE_NAME_6 = "datosJSVT.ventasTotalesxMes_JSVT"

In [170]:
# ENVIANDO JOB 6 A BIG_QUERY
job = client.load_table_from_dataframe(
    p2_month, BQ_TABLE_NAME_6, job_config = job_config6
)
job.result()

LoadJob<project=javeriana-dataprep, location=US, id=a1fe5a22-3ed0-475d-8087-61546592ccf3>

In [171]:
# VERIFICAR SI TABLA SE CREÓ
table = client.get_table(BQ_TABLE_NAME_6)
print("Loaded {} rows and {} columns to {}".format(table.num_rows, len(table.schema), BQ_TABLE_NAME_6))

Loaded 12 rows and 2 columns to datosJSVT.ventasTotalesxMes_JSVT